*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 300;
}
.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
}
.date-picker {
  width: 170px;
  margin: 10px auto;
}
.date-picker-input {
  width: 170px;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
}
