/* RESET */

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
  list-style-type: none;
}

button,
input,
select,
fieldset {
  border: 0;
  background-color: transparent;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* 헤더 */

.login-bar {
  overflow: hidden;
  min-width: 1020px;
  height: 34px;
  background-color: var(--color-gray-100);
}

.login-bar-link-list {
  width: 1020px;
  height: 24px;
  margin: 5px auto;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-bar-link-item {
  height: 14px;
  font-size: 12px;
  line-height: 14px;
}

.login-bar-link-item:nth-child(1) {
  order: 3;
}

.login-bar-link-item:nth-child(2) {
  order: 4;
}

.login-bar-link-item:nth-child(3) {
  order: 5;
}

.login-bar-link-item:nth-child(4) {
  order: 1;
}

.login-bar-link-item:nth-child(5) {
  order: 2;
  margin-right: auto;
}

.main-header-bar {
  height: 116px;
  border-bottom: 1px solid var(--color-gray-100);
}

.main-header-area {
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 110px 216px 590px 45px 59px;
  grid-template-rows: 74px 42px;
}

.button--category {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 110px;
  height: 116px;
  padding-top: 72px;
  font-size: 12px;
  color: var(--color-white);
  background-color: var(--color-blue-600);
  background-image: url(/assets/icon/hamburger.svg);
  background-repeat: no-repeat;
  background-position: 40px 30px;
}

.coupang-logo {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 176px;
  height: 40px;
  margin: 34px 0 0 40px;
  text-indent: -9999px;
  background-image: url(/assets/logo/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.search-section {
  grid-row: 1/2;
  grid-column: 3/4;
  width: 516px;
  height: 40px;
  margin: 34px 44px 0 30px;
  border: 1px solid var(--color-blue-600);
  display: flex;
  align-items: center;
}

.select-box-fieldset {
  position: relative;
  width: 135px;
  height: 40px;
  padding: 0px;
}

.select-box-fieldset::after {
  content: "";
  width: 1px;
  height: 38px;
  background-color: var(--color-gray-100);
  position: absolute;
  right: 0;
  top: 1px;
}

.select-box {
  width: 100%;
  height: 100%;
  padding-left: 12px;
  font-size: 12px;
  color: var(--color-gray-700);
}

.icon-arrow {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 20px;
  height: 20px;
  color: var(--color-gray-700);
  z-index: -1000;
}

.search-section input {
  width: 301px;
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
}

.search-section input::placeholder {
  color: var(--color-gray-600);
}

.search-section button {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-voice-search {
  background-image: url(/assets/icon/mic.svg);
}

.button-keyword-search {
  background-image: url(/assets/icon/search.svg);
}

.myCoupang {
  position: relative;
  grid-row: 1/3;
  grid-column: 4/5;
  align-self: center;
}

.cart {
  position: relative;
  grid-row: 1/3;
  grid-column: 5/6;
  align-self: center;
}

.button-myCoupang,
.button-cart {
  width: 45px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  line-height: 18px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: center 5px;
}

.button-myCoupang {
  background-image: url(/assets/icon/my-coupang.svg);
}

.myCoupang-list {
  position: absolute;
  top: 65px;
  left: -22.5px;
  width: 90px;
  height: 130px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  font-size: 12px;
  padding: 24px 0 24px 20px;
}

.myCoupang-item {
  margin-bottom: 20px;
}

.myCoupang-list::before {
  content: "";
  position: absolute;
  top: -16px;
  left: calc(100% / 2 - 4.5px);
  width: 0;
  height: 0;
  border-bottom: 8px solid var(--color-gray-300);
  border-top: 8px solid transparent;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.myCoupang-list::after {
  content: "";
  position: absolute;
  top: -14px;
  left: calc(100% / 2 - 4.5px);
  width: 0;
  height: 0;
  border-bottom: 8px solid var(--color-white);
  border-top: 8px solid transparent;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.button-cart {
  margin-left: 14px;
  background-image: url(/assets/icon/cart.svg);
}

.selected-products-cnt {
  position: absolute;
  top: 1px;
  right: 2.5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-blue-600);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
}

.empty-cart-msg {
  position: absolute;
  top: 64px;
  left: -235px;
  width: 288px;
  height: 92px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  font-size: 14px;
  padding: 37px 0 0 47px;
}

.empty-cart-msg::before {
  content: "";
  position: absolute;
  top: -16px;
  right: 10px;
  width: 0;
  height: 0;
  border-bottom: 8px solid var(--color-gray-300);
  border-top: 8px solid transparent;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.empty-cart-msg::after {
  content: "";
  position: absolute;
  top: -14px;
  right: 10px;
  width: 0;
  height: 0;
  border-bottom: 8px solid var(--color-white);
  border-top: 8px solid transparent;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.myCoupang-list,
.empty-cart-msg {
  display: none;
}

.is--active .myCoupang-list,
.cart--empty .empty-cart-msg {
  display: initial;
}

.link-list {
  grid-row: 2/3;
  grid-column: 2/4;
  width: 755px;
  height: 26px;
  margin: 10px 15px 6px 36px;
}

.link-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  padding: 6px 12.5px;
  font-size: 12px;
}

.link-item:last-child {
  margin-right: 0;
}

.link-item a {
  display: flex;
}

.icon-rocket,
.icon-fresh {
  margin-right: 4px;
}
.icon-new {
  margin-left: 4px;
}
